yfinance
pandas
tqdm
openpyxl
pandas_ta
nltk
numpy
matplotlib
financetoolkit
yahoo_fin
textblob
beautifulsoup4
newspaper3k
fastapi
uvicorn
requests
requests_html
matplotlib
streamlit
dash
pandas_ta







